*{
    margin: 0;padding: 0;
    box-sizing: border-box;
     font-family: "Science Gothic", sans-serif;
}
.main{
    position: relative;
    width: 100%;
}
.one{
    opacity: 60%;
}
.back{
    background-color: black;   
}
.main-2{
    display: flex; 
    justify-content:center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.349);
    position: absolute;
    top: 0px;
    padding: 10px 0px;
}
.logo{
    width: 40%;
    padding-left: 50px;
}
.logo i{
    color: white;
    padding: 0px 20px;
}
.new-line{
    width: 50%;
}
.new-line ul{
    display: flex;
    justify-content: center;
}
.new-line ul li{
    list-style: none;

}
.new-line li a{
    text-decoration: none;
    color: white;
    padding-left: 100px;
}
@media (max-width:720px) {
    .new-line ul{
        display: none;
        font-size: 5px;
    }
    .logo{
            font-size: 5px;
            display: none;
    }
    .icon img{
        width: 100px;
        text-align: center;
    }
}
.icon{
    width: 150px;
    position: absolute;
    top: 0px;
    left: 40%;
    transform: translate(-50% -50%);
}
.icon img{
    border-radius: 20px;
}
.middle-line{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50% -50%);
    text-align: center;
}
.middle-line h1{
    color: orange;
}
.middle-line h2 {
    color: white;
}
.middle-line p{
    color: white;
}
.button{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button-1 button{
    padding: 5px 10px;
    border-color: orange;
    color: orange;
    margin-top: 20px;
    border-radius: 10px;    
}
.button-2 button{
    padding: 5px 10px;
    border-color: orange;
    border-radius: 10px;
    color: orange;
    margin-top: 20px;
}
@media (max-width:720px) {
    .middle-line{
        text-align: center;
        top: 20%;
        left: 10%;
        font-size: 10px;
    }
    .button-1 button{
        padding: 3px;
        font-size: 10px;
    }
     .button-2 button{
        padding: 3px;
        font-size: 10px;
    }
}

/* -----------------------section 1 ============= */
.main-3{
    position: relative;
    height: 100%;
    width: 100%;
}
.box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    transform: translate(-50% -50%);
    width: 100%;
}
@media (max-width:720px) {
    .box-1 {
        display: flex;
        position: absolute;
        top: 10%;
    }
    .img-1 {
        width: 30%;
        margin: 10px;
    }
    .img-1 img{
        width: 50%;
    }
}
.img-1 {
    width: 30%;
    margin: 20px;
}
.img-1 img{
    width: 80%;
    border-radius: 20px;
}
.img-2 {
    width: 40%;
    margin: 20px;
}
.img-2 img{
    width: 100%;
    border-radius: 20px;
}
.text-1{
    width: 40%; 
    margin: 20px;
    margin-bottom: 20px;
}
@media (max-width:720px) {
    .text-1{
        width: 60%;
    }
    .text-1 h1{
        font-size: 10px;
    }
     .text-1 h2{
        font-size: 10px;
    }
    .text-1 p{
        font-size: 5px;
    
    }
    .text-1 button{
        padding: 5px 5px;
        font-size: 10px;
        border-radius: 10px;
    }
}
.text-1 h1{
    color: orange;
    padding-bottom: 10px;
}
.text-1 h2{
    color: white;

}
.text-1 p{
    padding-top: 10px;  
    color: white;
}
.text-1 button{
    padding: 15px ;
    width: 100%;
    color:white;
    font-weight: 800;
    border-radius: 20px;
    background-color: orange;
    margin-top: 10px;
}

/* ............................section 2 */
.main-4{
    position: relative;
    width: 100%;
    
}
.box-2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
     top: 30%;
    transform: translate(-50% -50%);
    width: 100%;
}
@media (max-width:720px) {
    .box-2 {
        display: flex;
        position: absolute;
        top: 25%;
    }
    .img-3 {
        width: 30%;
        margin: 10px;
    }
    .img-3 img{
        width: 50%;
    }
}
@media (max-width:720px) {
    .text-2{
        width: 60%;
    }
    .text-2 h1{
        font-size: 10px;
    }
     .text-2 h2{
        font-size: 10px;
    }
    .text-2 p{
        font-size: 5px;
    
    }
    .text-2 button{
        padding: 5px 5px;
        font-size: 10px;
        border-radius: 10px;
    }
}
.img-3 {
    width: 40%;
    margin: 20px;
}
.img-3 img{
    width: 80%;
    border-radius: 20px;
}
.img-4 {
    width: 30%;
    margin: 20px;
}
.img-4 img{
    width: 100%;
    border-radius: 20px;
}
.text-2{
    width: 50%; 
    margin-right: 70px;
    margin-bottom: 20px;
}
.text-2 h1{
    color: orange;
    padding-bottom: 10px;
}
.text-2 h2{
    color: white;

}
.text-2 p{
    padding-top: 10px;  
    color: white;
}
.text-2 button{
    padding: 15px 10px;
    width: 100%;
    color:white;
    font-weight: 800;
    border-radius: 20px;
    background-color: orange;
    margin-top: 10px;
}
/* --------------------section 3 */
.main-5{
    position: relative;
    
}
.box-3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
     top: 10%;
    transform: translate(-50% -50%);
    width: 100%;
}
@media (max-width:720px) {
    .box-5 {
        display: flex;
        position: absolute;
        top: 10%;
    }
    .img-5 {
        width: 30%;
        margin: 10px;
    }
    .img-5 img{
        width: 50%;
    }
}
@media (max-width:720px) {
    .text-3{
        width: 60%;
    }
    .text-3 h1{
        font-size: 10px;
    }
     .text-3 h2{
        font-size: 10px;
    }
    .text-3 p{
        font-size: 5px;
    
    }
    .text-3 button{
        padding: 5px 5px;
        font-size: 10px;
        border-radius: 10px;
    }
}
.img-5 {
    width: 30%;
    margin: 20px;
}
.img-5 img{
    width: 80%;
    border-radius: 20px;
}
.img-6 {
    width: 30%;
    margin: 20px;
}
.img-6 img{
    width: 100%;
    border-radius: 20px;
}
.text-3{
    width: 40%; 
    margin: 20px;
    margin-bottom: 20px;
}
.text-3 h1{
    color: orange;
    padding-bottom: 10px;
}
.text-3 h2{
    color: white;
}
.text-3 p{
    padding-top: 10px;  
    color: white;
    font-weight: 800;
}
.text-3 button{
    padding: 15px 10px;
    width: 100%;
    color:white;
    font-weight: 800;
    border-radius: 20px;
    background-color: orange;
    margin-top: 10px;
}
/* ----------------section 4   */
.main-6{
    position: relative;
    
}
.box-4{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
     top: 10%;
    transform: translate(-50% -50%);
    width: 100%;
}
@media (max-width:720px) {
    .box-6 {
        display: flex;
        position: absolute;
        top: 10%;
    }
    .img-7 {
        width: 30%;
        margin: 10px;
    }
    .img-7 img{
        width: 50%;
    }
}
@media (max-width:720px) {
    .text-4{
        width: 60%;
    }
    .text-4 h1{
        font-size: 10px;
    }
     .text-4 h2{
        font-size: 10px;
    }
    .text-4 p{
        font-size: 5px;
    
    }
    .text-4 button{
        padding: 5px 5px;
        font-size: 10px;
        border-radius: 10px;
    }
}
.img-7 {
    width: 30%;
    margin: 20px;
}
.img-7 img{
    width: 80%;
    border-radius: 20px;
}
.img-8 {
    width: 30%;
    margin: 20px;
}
.img-8 img{
    width: 100%;
    border-radius: 20px;
}
.text-4{
    width: 40%; 
    margin: 20px;
    margin-bottom: 20px;
}
.text-4 h1{
    color: orange;
    padding-bottom: 10px;
}
.text-4 h2{
    color: white;
}
.text-4 p{
    padding-top: 10px;  
    color: white;
    font-weight: 800;
}
.text-4 button{
    padding: 15px 10px;
    width: 100%;
    color:white;
    font-weight: 800;
    border-radius: 20px;
    background-color: orange;
    margin-top: 10px;
}